*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

body
{
    background:#292828;
    font-family:arial;
}

.navbox
{
    height:8%;
    width:100%;
    position:absolute;
    background:#000000;
    display:flex;
    z-index:1;
}

.picbox1
{
    height:100%;
    width:4%;
    background-image:url('../img/logo.jpg');
    background-size:100% 100%;
    margin-left:1rem;   
    border-radius:10rem;
}

.box1_navbox
{
    height:70%;
    width:11%;
    background:rgb(214, 31, 31);
    margin:0.5rem 1rem;
    border-radius:4rem;
    display:flex;
    justify-content:center;
    line-height:1.8rem;
    color:#ffffff;
}

.box1_navbox a
{
    text-decoration:none;
    color:#ffffff;
}

.box2_navbox
{
    height:70%;
    width:7%;
    background:rgb(214, 31, 31);
    margin:0.5rem 1rem;
    border-radius:4rem;
    display:flex;
    justify-content:center;
    line-height:1.8rem;
    color:#ffffff;
}

.box2_navbox a
{
    text-decoration:none;
    color:#ffffff;
}

.box3_navbox
{
    height:70%;
    width:14%;
    background:rgb(214, 31, 31);
    margin:0.5rem 1rem;
    border-radius:4rem;
    display:flex;
    justify-content:center;
    line-height:1.8rem;
    color:#ffffff;
}

.box3_navbox a
{
    text-decoration:none;
    color:#ffffff;
}

.youtube
{
    height:90%;
    width:3.5%;
    background-image:url('../img/youtube.png');
    background-size:100% 100%;
    position:absolute;
    top:0.2rem;
    left:48rem;
    border-radius:1rem;
}

.redittbox
{
    height:90%;
    width:3.5%;
    background-image:url('../img/reditt.png');
    background-size:100% 100%;
    position:absolute;
    top:0.2rem;
    left:51.5rem;
    border-radius:1rem;
}

.instabox
{
    height:120%;
    width:4.5%;
    background-image:url('../img/instagram_Icon.png');
    background-size:100% 100%;
    position:absolute;
    top:-0.2rem;
    left:54.5rem;
    border-radius:1rem;
}

.search
{
    height:90%;
    width:20%;
    position:absolute;
    top:0.2rem;   
    left:60rem;
}

.searchbox
{
    height:2.4rem;
    width:12rem;
    margin:0.1rem 1.5rem;
    border-radius:1rem;
    color:grey;
    background:#292828;
    padding-left:25px;
    border:#000000;
}

.box4_navbox
{
    height:90%;
    width:8%;
    position:absolute;
    top:0.2rem;   
    left:76rem;
    color:#ffffff;
    font-size:1.2rem;
    font-weight:0.5rem;
    display:flex;
    justify-content:center;
    line-height:2.5rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
  

/**** Styling of navbar ended right over here *****/

/*** article section will start from here ****/

.firstcontent
{
    height:260%;
    width:70%;
    position:absolute;
    left:14rem;
    top:5rem;
    color:brown;
}

.content_firstcontent
{
    height:80%;
    width:50%;
    margin-top:2rem;
    color:#ffffff;
}

/***** first content part ends over here the
****** the next section will start from below **/

.secondcontent
{
    height:140%;
    width:65%;
    position:absolute;
    top:22rem;
    left:14rem;
}

.sub_secondcontent
{
    height:10%;
    width:100%;
    display:flex;
}

.box1_sub_secondcontent
{
    height:50%;
    width:16%;
    background:rgb(214, 31, 31);
    display:flex;
    justify-content:center;
    padding-left:2px;
    line-height:36px;
    margin-left:2rem;
    color:#ffffff;
}

.box2_sub_secondcontent
{
    height:90%;
    width:30%;
    margin-left:10rem;
}

.searchproduct
{
    height:2.4rem;
    width:12rem;
    margin:0.1rem 1.5rem;
    border-radius:1rem;
    color:grey;
    background:#3a3838;
    padding-left:25px;
    border:#000000;
}

.box3_sub_secondcontent
{
    height:90%;
    width:30%;
    margin:0.5rem 2rem;
    color:#ffffff;
    padding-left:6rem;
}

.content_secondcontent
{
    height:90%;
    width:100%;
    margin-top:-2%;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:2rem;
}


.box1_content
{
    border:1px solid rgb(214, 31, 31);
}

.box2_content
{
    border:1px solid #ffffff;
}

.box3_content
{
    border:1px solid rgb(214, 31, 31);
}

.box4_content
{
    border:1px solid #ffffff;
}

.box5_content
{
    border:1px solid rgb(214, 31, 31);
}

.box6_content
{
    border:1px solid #ffffff;
}

.box7_content
{
    border:1px solid rgb(214, 31, 31);
}

.box8_content
{
    border:1px solid #ffffff;
}

.box9_content
{
    border:1px solid rgb(214, 31, 31);
}


.click
{
    height:5%;
    width:15%;
    position:absolute;
    color: rgb(214, 31, 31);
    font-weight:strong;
    background:#ffffff;
    top:79rem;
    left:45%;
    display:flex;
    justify-content:center;
    letter-spacing:0.2rem;
    line-height:1.5rem;
}

.thirdcontent
{
    height:140%;
    width:65%;
    position:absolute;
    top:86rem;
    left:14rem;
}

.menu_thirdcontent
{
    height:10%;
    width:100%;
    display:flex;
}

.box1_menu_thirdcontent
{
    height:64%;
    width:12%;
    background:rgb(214, 31, 31);
    margin:1rem 3rem;
    color:#ffffff;
    letter-spacing:2px;
}

.box2_menu_thirdcontent
{
    height:60%;
    width:25%;   
    margin-left:8rem;
    margin-top:1.5rem;
}

.searchitem
{
    height:2.4rem;
    width:12rem;
    margin:0.1rem 2.5rem;
    border-radius:1rem;
    color:grey;
    background:#3a3838;
    padding-left:25px;
    border:#000000;
}

.box3_menu_thirdcontent
{
    height:60%;
    width:45%;
    color:#ffffff;
    margin-left:7rem;
    margin-top:1.5rem;
    color:#ffffff;
    letter-spacing:2px;
    font-size:1.2rem;
    font-weight:strong;
}


.content_thirdcontent
{
    height:90%;
    width:100%;
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:2rem;
}

.box1_thirdcontent
{
    border:1px solid rgb(214, 31, 31); 
}

.box2_thirdcontent
{
    border:1px solid grey;
}

.box3_thirdcontent
{
    border:1px solid rgb(214, 31, 31);
}

.box4_thirdcontent
{
    border:1px solid grey;
}

.box5_thirdcontent
{
    border:1px solid rgb(214, 31, 31);
}

.box6_thirdcontent
{
    border:1px solid grey;
}

.box7_thirdcontent
{
    border:1px solid rgb(214, 31, 31);
}

.box8_thirdcontent
{
    border:1px solid grey;
}

.box9_thirdcontent
{
    border:1px solid rgb(214, 31, 31);
}

/*** articles ends over here *****/
/*** from now on the second article will take place ****/

/*** articles ends over here *****/
/*** from now on the second article will take place ****/

.click2
{
    height:5%;
    width:15%;
    position:absolute;
    color: rgb(214, 31, 31);
    font-weight:strong;
    background:#ffffff;
    top:145rem;
    left:45%;
    display:flex;
    justify-content:center;
    letter-spacing:0.2rem;
    line-height:1.5rem;   
}


.fourthcontent
{
    height:140%;
    width:65%;
    position:absolute;
    top:155rem;
    left:14rem;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap:1rem;
}

.box1_fourthcontent
{
    border:1px solid brown;
}

.box2_fourthcontent
{
    border:1px solid grey;
}

.box3_fourthcontent
{
    border:1px solid brown;
}

.box4_fourthcontent
{
    border:1px solid grey;
}

.contactbox
{
    height:40%;
    width:100%;
    position:absolute;
    border:1px solid grey;
    top:214rem;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}

.box1_contactbox
{
    font-size:1.2rem;
    font-weight:bolder;
    padding:5px 10px;
    color:#ffffff;
}

.box2_contactbox
{
    font-size:2rem;
    font-weight:bolder;
    padding:5px 80px;
    color:#ffffff;
}

.box3_contactbox
{
    font-size:1.2rem;
    font-weight:bolder;
    padding:5px 10px;
    color:#ffffff;
}

.box4_contactbox
{
    font-size:1.6rem;
    font-weight:bolder;
    padding:5px 100px;
    color:#ffffff;
}

.box5_contactbox
{
    font-size:1.2rem;
    font-weight:bolder;
    padding:5px 10px;
    color:#ffffff;
}

.box6_contactbox
{
    font-size:1.2rem;
    font-weight:bolder;
    padding:5px 80px;
    color:#ffffff;
    display:flex;
}

.pic_contanctbox
{
    height:90%;
    width:12%;
    background-image:url('../img/instagram_Icon.png');
    background-size:100% 100%;
    margin:-8px 20px;
}

.text
{
    margin:8px 5px;
}

/*** contact section has ended over here 
****** from now on footer section will start ***/

.footer
{
    height:15%;
    width:100%;
    position:absolute;
    top:231rem;
    display:flex;
    justify-content:center;
    flex-direction:column;
    color:#ffffff;
}

.footer h1
{
    color:rgb(214, 31, 31);
    text-align:center;
}

.footer p
{
    font-size:1.2rem;
    text-align:center;
}
